
html {
  margin: 0;
  overscroll-behavior: none;
  background: linear-gradient(300deg, #071952, #0A4D68, #4F709C);
  background-size: 180% 180%;
  animation: gradient-animation 4s ease infinite;
  overflow: hidden;
  height: 100%;

}

  body {
    background: linear-gradient(300deg, #071952, #0A4D68, #4F709C);
    background-size: 180% 180%;
    animation: gradient-animation 4s ease infinite;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    height: 100%;  
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

 .nav-background {
    background: linear-gradient(300deg, #071952, #0A4D68, #4F709C);
    background-size: 180% 180%;
    animation: gradient-animation 8s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.top:hover {

  border-bottom: 1px solid aquamarine;
  padding-bottom: 0px;
}

.bottom:hover {
  text-decoration: underline;
  text-decoration-color: aquamarine;
}

.navbar-brand {
    font-size: x-large;
}
  
.title {
    color: #F5EFE7;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
  }

  .navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
  }

 #home {
  min-height: 100vh;
  padding-top: 50%;
 }

 .hover-effect:hover {
  opacity: 0.75;
  transform: translateY(-10px);
  transition: 0.25s;
 }

 .icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  border-radius: 50%;
  height: 100px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.button-hover {
  background-color: #071952;
  border-color: #071952;
}

.button-hover:hover {
  background-color:#071952;
  color: aquamarine;
  border-color: aquamarine;
}

.Ryan-hover:hover {
  color: aquamarine;
}

*, html {
  scroll-behavior: smooth !important;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.text-reveal {
  display: block;
  animation: reveal 1.0s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

@keyframes reveal {
  0% {
    transform: translate(0,100%);
  }
  100% {
    transform: translate(0,0);
  }
}

.fade-in { animation: fadeIn 3s; }

@keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
}

.fade-in-large { animation: fadeInLarge 2s; }

@keyframes fadeInLarge {
  0% { opacity: 0;
  font-size: xx-large; }
  100% { opacity: 1; }
}

.wave-icon {
  width: 60px;
  margin-bottom: 12px;
}

/* Adjust size for mobile screens */
@media (max-width: 768px) {
  .wave-icon {
      width: 35px; /* Adjust this size as needed */
      margin-bottom: 8px;
  }
}
